.form-content {
    width: 50%;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-items {
    width: 100%;
}

.form-items h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-control {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-button {
    text-align: center;
}

.btn-primary {
    background-color: #009879;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #007f6b;
}